
<h1>Books</h1>

  <div class="table">

    <div class="label">
      <div class="ta">
        <div class="tb">Title</div>
        <div class="tb">body</div>
        <div class="tb" colspan="3"></div>
      </div>
    </div>

    <div class="text">
      <% @books.each do |book| %>
        <div class="tc">
          <a class="show"></a>
        </div>
      <% end %>
    </div>

  </div>



<h2>New book</h2>

<%= form_with model: @book do |f| %>

<div class="form">


  <div class="field">
    <subject>Title</subject>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <subject>body</subject>
    <%= f.text_area :body %>
  </div>

  <%= f.submit 'Create Book' %>

</div>

<% end %>