<p>
Title:
<%= @book.title %>
</p>

<p>
Body:
<%= @book.body %>
</p>

<bb class="nav-list-item">
  <%= link_to "Edit", edit_book_path(@book.id) %>
</bb>
<bb class="nav-list-item">
  <%= link_to "Back", "/books" %>
</bb>